div {
  background-color:#1C96FA ;
  width: 500px;
  border: 10px solid #FF1ACB ;
  padding: 40px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
}

 <div> 
        <div ID="#cbcef9">
        <div ID="#c6e2ff">
        <div ID="#eed7da">
            </div>

