div {
  background-color:#1C96FA ;
  width: 500px;
  border: 10px solid #FF1ACB ;
  padding: 40px;
  margin: 10px;
  text-align:center;
  display: flex;
  justify-content: space-around; 
  color: white;
}

body{
    background:url(https://wallpaperaccess.com/full/240615.jpg);
}

h1 {
    color:white;
}

h2 {
    color:white;
}

h3 {
    color:white;
}

img {
    color:white;
}

li {
    color:white;
}

